[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
	shallow = true
[submodule "extern/cpr"]
	path = extern/cpr
	url = https://github.com/libcpr/cpr.git
	ignore = dirty
	shallow = true
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
	ignore = dirty
	shallow = true
[submodule "extern/11Zip"]
	path = extern/11Zip
	url = https://github.com/Sygmei/11Zip.git
	ignore = dirty
	shallow = true
